{% extends 'food/base.html' %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
{% block content %}

   {% for items in item_list %}

<div class="row">
    <div class="col-md-2 offset-md-2">
        <img class="card"  height="130px" src="{{items.image}}"/>
    </div>
    <div class="col-md-4">
    <h3> {{ items.name }}</h3>
     <h5> {{ items.desc }}</h5>
     <h6> #{{ items.price }}</h6>
    </div>
    <div class="col-md-2">
        <a href="{% url 'food:detail' items.id %}" class="btn btn-success">'{{items.name}}'</a>
    </div>
</div>
{% endfor %}
{% endblock  %}


</body>

</html>
